button {
    background-color: #e55c18;
    color: gainsboro;
    font-family: 'Sigmar One';
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    height: 50px;
    width: 100px;
    border-radius: 5%;
    cursor: pointer;
}

button:hover {
    background-color: #ebe03c;
    border-style: inset;
    color: black;
}

#startGame, #restartGame {
    position: absolute;
    bottom: 20px;
    left: 40%;
}

#linkedin, #github, #playMusic, #pauseMusic {
    height: 50px;
    width: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-self: flex-end;
    
}

#github {
    background-image: url('../resources/buttons/github.png');
}

#linkedin {
    background-image: url('../resources/buttons/linkedin.png');
}

#playMusic {
    background-image: url('../resources/buttons/soundOn.png');
    margin-bottom: 10px;
}

#pauseMusic {
    background-image: url('../resources/buttons/soundOff.png');
}