#screen, #leftBackgroundPiece, #rightBackgroundPiece {
    background-color: #1f6723;
    border-bottom: 5px solid #05c5ed;
    border-top: 5px solid #05c5ed;
}

#stats {
    background-color: #1f6723;
    border-left: 5px solid #05c5ed;
    border-bottom: 5px solid #05c5ed;
    border-top: 5px solid #05c5ed;
}
