#screen, #leftBackgroundPiece, #rightBackgroundPiece {
    background-color: #1f6723;
    border-bottom: 5px solid #68156f;
    border-top: 5px solid #68156f;
}

#stats {
    background-color: #1f6723;
    border-left: 5px solid #68156f;
    border-bottom: 5px solid #68156f;
    border-top: 5px solid #68156f;
}
