@import "./styles/canvas.scss";
@import "./styles/reset.scss";
@import "./styles/modals.scss";
@import "./styles/buttons.scss";

#main {
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    padding: 10px;
    font-weight: 900;
}

#helperBar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #1f6723;
    border-right: 5px solid #05c5ed;
    border-bottom: 5px solid #05c5ed;
    border-top: 5px solid #05c5ed;
    height: 700px;
}

#musicWrap, #linksWrap {
    display: flex;
    flex-direction: column;
}
