@import "./styles/canvas.scss";
@import "./styles/reset.scss";

#main {
    display: flex;
    // position: relative;
    // justify-content: center;
}

button {
    background-color: #F24444;
    color: aliceblue;
    height: 50px;
    width: 100px;
    border-radius: 20%;
}

button:hover {
    background-color: #F29829;
}

.music {
    display: flex;
    flex-direction: column;
    // justify-content: end;
    // margin: 20px;
    background-color: #F2884B;
    border: 5px solid #037F8C;
}

#greetings, #finalMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 400px;
    border-radius: 15%;
    background-color: #F2884B;
    padding: 50px;
    border: 5px solid #037F8C;
    font-family: 'Kalam', cursive;
    font-size: 22px;
    color: black;
}

#startGame, #restartGame {
    position: absolute;
    bottom: 20px;
    left: 40%;
    align-self: flex-end;
    
}

h2 {
    padding: 10px;
    font-weight: 900;
}